/* Created by: Kai Nguyen
* Created on: Mar 2024
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

img {
  height: auto;
  width: 600px;
  float: right;
  padding-right: 300px;
  padding-top: 100px;
}

.page-content {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  padding-bottom: 20px;
}

.page-content-answer {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: cornflowerblue;
}